body
{
  box-sizing: border-box;
  background-color: black;
}

.red
{
  width: 100px;
  height: 100px;
  background-color: red;
}

.green
{
  width: 80px;
  height: 80px;
  background-color: green;
}

.blue
{
  width: 60px;
  height: 60px;
  background-color: blue;
}

.yellow
{
  width: 40px;
  height: 40px;
  background-color: yellow;
}

.exercise-1,
.exercise-2,
.exercise-3,
.exercise-4
{
  position: relative;
}

.exercise-1 div,
.exercise-2 div,
.exercise-3 div,
.exercise-4 div
{
  
}

/* Exercise 2 */

.exercise-2
{
  top: 20px;
}

.exercise-2 .green,
.exercise-2 .blue,
.exercise-2 .yellow
{
  position: absolute;
  left: 10px;
  top: 10px;
}

/* Exercise 3 */

.exercise-3
{
  top: 40px;
}

/* Adding relative to green will become the positioned ancestors
   for blue and yellow below because they are absolute so. If we did not add
   relative to this, blue and yellow will instead use the document body   */
.exercise-3 .green
{
  position: relative;
}

.exercise-3 .blue,
.exercise-3 .yellow
{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

/* Exercise 4 */

.exercise-4
{
  top: 60px;
}

/* For some reason this is using the document body for some reason even though
    exercise-4 is set as relative, why? find out why [x]. 
    
    The reason why: blue is nested inside
    .green which has a default of position: static, because of this, .blue will use
    the document body for position anchoring  */
.exercise-4 .blue
{
  position: absolute;
  right: 0;
}


/* This is using the blue above as the positioned ancestor */
.exercise-4 .yellow
{
  position: absolute;
  right: 0;
}

a {
  color: white;
  position: fixed;
  left: 50%;
  bottom: 50px;
}
